.countdown{

   height: 100%;
   width: 100%;
}

.countdown-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.countdown-content h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}


.countdown-content .countdown-timer{
    display: flex;
    gap: 1rem;
    font-size: 24px;
    font-weight: 500;
    color: var(--accent-color);
}


.countdown-timer .countdown-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.countdown-box span{

    font-size: 80px;
    
}
.countdown-box p{
    color: var(--secondary-accent-color);

    font-size: 32px;
}




@media screen and (max-width:768px){
   .countdown-timer .countdown-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.countdown-box span{

    font-size: 80px;
    
}
.countdown-box p{
    color: var(--secondary-accent-color);

    font-size: 32px;
}


    
.countdown-content .countdown-timer{
   
    gap: 0.7rem;
   
}

    
}



@media screen and (max-width:480px){
    .countdown-content .countdown-timer{
        flex-direction: column;
    }
   
    .countdown-content h2{
        font-size: 64px;
        font-weight: 700;
        color: white;
    }
    .countdown-content h2{
        font-size: 32px;
       font-weight: 700;
    }
    
}