/* General Navbar Styles */
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav img {
  width: 90px;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  transition: transform 0.3s ease;
}

ul li a,
ul li button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

nav ul li a.active {
  color: var(--aqua-green);
  border-bottom: 2px solid var(--aqua-green);
}

nav button {
  padding: 5px 20px;
  color: var(--dark-blue);
  background-color: var(--aqua-green);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

nav span {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  nav span {
    display: block;
  }
  nav img {
    width: 70px;
  }
  nav button {
    display: none;
  }

  ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--dark-blue);
    transform: translateX(100%);
  }

  ul.open {
    transform: translateX(0);
  }

  ul li a,
  .apply-button {
    font-size: 18px;
  }
}
