@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-pink: #fc0ff5;
  --dark-blue: #0b1e3e;
  --aqua-green: #38fbdb;



  /* colors */
  --primary-color:#0C1E3E;
  --secondary-color:#122C5A;
  --accent-color:#38FBDB;
  --secondary-accent-color:#FC0FF5;

  /* Font sizes Desktop */
 /*  --fontsizeH1:64px;
  --fontsizeH2:40px;
  --fontsizeH3:32px;
  --fontsizeText1:18px;
  --fontsizeText2:16px; */
  --fontsizeH1:3rem;
  --fontsizeH2:2rem;
  --fontsizeH3:1.7rem;
  --fontsizeText1:1.2rem;
  --fontsizeText2:1rem;
  /* Font sizes Mobiles */

  --fontsizeH1Mobile:32px;
  --fontsizeH2Mobile:24px;

}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Chakra Petch', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}

body{

  background-color: var(--primary-color);
}
